[submodule "triton"]
	path = triton
	url = https://github.com/openai/triton.git
[submodule "triton-legacy"]
	path = triton-legacy
	url = https://github.com/openai/triton.git
[submodule "cresset"]
	path = cresset
	url = https://github.com/cresset-template/cresset.git
[submodule "cutlass"]
	path = cutlass
	url = https://github.com/rkindi/cutlass-2.11.git
	branch = with_fwd_fixes
[submodule "triton-torch-inductor-stable"]
	path = triton-torch-inductor-stable
	url = https://github.com/rkindi/triton.git
	branch = torch-inductor-stable-original
